@{
    //Layout = "_Root.Head";
    Layout = "_FreemiumMedia_Root.Head";
}
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyStartHtmlTagAfter })
@await Html.PartialAsync("_Notifications")
@await Html.PartialAsync("_JavaScriptDisabledWarning")
@await Html.PartialAsync("_OldInternetExplorerWarning")
    <div class="master-wrapper-page">
        @await Component.InvokeAsync("AdminHeaderLinks")
        @await Html.PartialAsync("_FreemiumMedia_Header")
        <script asp-location="Footer">
        var localized_data = {
            AjaxCartFailure: "@T("AjaxCart.Failure")"
        };
        AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart', localized_data);
        </script>
        <div id="content">
            <div class="header-menu-slim">
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.AdvertisingHeader })
            </div>
            <div class="master-wrapper-content">
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentBefore })

                @if (IsSectionDefined("Breadcrumb"))
                {
                    @RenderSection("Breadcrumb")
                }
                <div class="master-column-wrapper">
                    <div style="float:left; width:90%">
                        @RenderBody()
                    </div>
                    <div style="float:right; width:10%">
                        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.AdvertisingSide })
                    </div>
                </div>
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentAfter })
            </div>
        </div>
        @await Component.InvokeAsync("FreemiumMedia_Footer")
    </div>
@await Component.InvokeAsync("EuCookieLaw")
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyEndHtmlTagBefore })
