@model ContactInformationModel

<div class="header-links">
    <ul class="header-links-actions">
        <li>
            <span>
                <img src="~/images/phone.png" alt="Phone Number - 248.731.7682">
                <a href="tel:248-731-7682">248.731.7682</a>
            </span>
        </li>
        <li>
            <span>
                <img src="~/images/mail.png" alt="Email Address - service@freemiummedia.com">
                <a href="mailto:SERVICE@FreemiumMedia.com">service@freemiummedia.com</a>
            </span>
        </li>
    </ul>
</div>
@*<div class="header-links">
    <ul class="header-links-actions">
        <li>
            <span>
                <img src="~/images/phone.png" alt="Phone Number - 248.731.7682">
                <a href="tel:@Model.Phone">@Model.Phone</a>
            </span>
        </li>
        <li>
            <span>
                <img src="~/images/mail.png" alt="Email Address - @Model.EmailAddress">
                <a href="mailto:@Model.EmailAddress">@Model.EmailAddress</a>
            </span>
        </li>
    </ul>
</div>*@