@{
    Layout = "";
}
@model Meetup.NetStandard.Response.Events.Event
@if (Model != null)
{
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.CustomerInfo")</h1>
    </div>

    <div class="page account-page customer-info-page">
        <div class="page-body">
            <div>
                @Html.Raw(Model.Description)
            </div>
        </div>
    </div>
}
