@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}
@model string
<div class="page home-page">
    <div class="page-body">
        @await Component.InvokeAsync("Meetup", new { eventId = Model })
    </div>
</div>
